language: python
python:
    - "3.4"
    - "3.5"
    - "3.6"
install:
    - pip install coveralls
    - pip install coverage
    - pip install nose
script:
    - pytest
    - nosetests --with-coverage
after_success:
    - coveralls
